# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
staticfiles/
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Python virtual environments
venv/
env/
venv1/

# Node modules
node_modules/

# Build files
build/
dist/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Other
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage reports
coverage/

# npm debug logs
npm-debug.log*