<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main>

        <header class="h-20 flex items-center justify-between px-5  fixed w-full backdrop-blur-sm z-10 bg-black">
            <div>
                <img src="" alt="sj;dokad">
            </div>
            <div class="flex items-center gap-5">
                <div class=" space-x-8  hidden lg:block font-bold  text-white lg:text-3xl" >
                    <a  href="#">Events</a>
                    <a  href="#">Teachers</a>
                    
                    <a  href="#">Student </a>
                    <a  href="#">Branches</a>
                    
                </div>
                <button class="text-4xl text-white ">☰</button>
            </div>   
        </header>
        <img class="h-screen w-screen fixed object-cover  -z-10" src="./img1.jpg" alt="">
        <div class="lg:flex h-screen w-screen bg-[rgb(0,0,0,0.4)]/50 backdrop-blur-[2px] ">

            <div class="flex lg:flex-col w-screen justify-between px-1 lg:justify-normal gap-5 h-32 lg:w-[23%] lg:h-screen bg-red-500">
                <h1 class="text-xl translate-x-2 translate-y-[90px] font-bold lg:translate-y-28 lg:translate-x-4 text-white lg:text-5xl  ">NOTICES</h1>
                
                <h1 class="hidden lg:block translate-x-2 translate-y-24 font-bold lg:translate-y-32 lg:translate-x-4 text-white  lg:text-xl ">Academic Notice</h1>
                <h1 class="hidden lg:block translate-x-2 translate-y-24 font-bold lg:translate-y-32 lg:translate-x-4 text-white  lg:text-xl ">General Notice</h1>
                <h1 class="hidden lg:block translate-x-2 translate-y-24 font-bold lg:translate-y-32 lg:translate-x-4 text-white  lg:text-xl ">Events Notice</h1>
                <h1 class="hidden lg:block translate-x-2 translate-y-24 font-bold lg:translate-y-32 lg:translate-x-4 text-white  lg:text-xl ">post Notice</h1>
                <h1 class="hidden lg:block translate-x-2 translate-y-24 font-bold lg:translate-y-32 lg:translate-x-4 text-white  lg:text-xl ">Previous Notice</h1>
                <h1 class="lg:hidden  translate-y-[90px] font-bold lg:translate-y-32 lg:translate-x-4 text-white  lg:text-2xl ">Notices Categories ☰</h1>
            
            </div>

            <div class="lg:flex lg:h-3/4 lg:w-4/6 h-[65vh] mt-10 ml-[10%] mr-[10%] w-[80%] lg:ml-[7%] lg:rounded-xl lg:mr-[7%] lg:mt-36 bg-white">
                <div class="h-full lg:w-[60%] w-full flex items-center justify-center">
                    <div class=" h-[90%] w-[90%] bg-gray-200">

                        <!-- notice img -->


                    </div>
                </div>
                <div class="h-14 w-full bg-white flex    border-t-2 border-black  gap-2 pl-4  items-center lg:hidden">

                        <i class="ri-heart-line"></i>
                        <i class="ri-send-plane-line"></i>
                        <i class="ri-chat-3-line"></i>

                        <form  action="">
                            <input class=" bg-gray-200 rounded-lg h-9 pl-3 w-[100%] " placeholder="Comment" type="text">
                        </form>
                        <i class="ri-more-2-fill"></i>

                </div>
                <div class="hidden lg:block lg:h-full lg:w-[40%] lg:border-l-2 lg:border-black  flex-col justify-around ">
                    <div class=" lg:h-16 lg:w-full  lg:border-b-2 lg:border-black ">


                    </div>
                    
                    <div class=" lg:block title h-[78%] overflow-y-scroll bg-white  p-4 ">

                        <!-- comments and tittle -->


                    </div>
                    <div class="    h-16 w-full   border-t-2 border-black lg:flex items-center gap-2 pl-4 ">


                        <i class="ri-heart-line"></i>
                        <i class="ri-send-plane-line"></i>
                        <i class="ri-chat-3-line"></i>

                        <form  action="">
                            <input class=" bg-gray-200 rounded-lg h-9 lg:pl-3 lg:w-[100%] " placeholder="Comment" type="text">
                        </form>
                        <i class="ri-more-2-fill"></i>

                    </div>
                </div>



            </div>


        </div>
            
        
    </main>

</body>
</html>