<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main>

        <header class="h-20 flex items-center justify-between px-5  fixed w-full backdrop-blur-sm z-10 bg-black/50">
            <div>
                <img src="" alt="sj;dokad">
            </div>
            <div class=" space-x-8  hidden md:block font-bold  text-white lg:text-2xl" >
                <a  href="#">Events</a>
                <a  href="#">Teachers</a>
                
                <a  href="#">Student </a>
                <a  href="#">Branches</a>
                <button class="text-4xl  text-white ">☰</button>
            </div>
            
            
        </header>
        <img class="h-screen w-screen" src="./img1.jpg" alt="">
            
        
    </main>

</body>
</html>